body {
    font-family: Arial, sans-serif;
    background-color: #3b136b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #0099cc;
}

.question-container {
    margin: 20px 0;
}

.question-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.options {
    list-style: none;
    padding: 0;
}

.option {
    background-color: #0099cc;
    color: white;
    border: 1px solid #0099cc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.timer {
    font-size: 16px;
}
