body {
    font-family: Arial, sans-serif;
    background-color: #3b136b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
    color: #0099cc;
}
.input-container {
    text-align: center;
}
input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #0099cc;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center; /* Centraliza o texto dentro do campo */
}
.play-button {
    background-color: #191d1e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* Define o mesmo tamanho que o botão "Jogar" */
}
.play-button:hover {
    background-color: #1f2325;
    padding: 8px 20px;
}
